h1 {
  font-size: 32px;
}
h1.title {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}

.navbar-inverse {
  background-color: #222;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #222;
}
.list-group-item.active {
  background-color: #222;
  border-color: #222;
}
item.active, .list-group-item.active:hover {
  background-color: #222;
  border-color: #222;
}